/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Source Sans";
  src: url(assets/SourceSans3.ttf);
}

html,
body {
  margin: 0;
  font-family: "Source Sans", Arial, sans-serif;
}

.material-icon {
  font-family: "Material Symbols Outlined";
}
